<html style="height: 100%">
<head>
	<meta charset="UTF-8">
	<title>COMSW 4111</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
	<style type="text/css">
	a:hover{
		cursor: pointer;
	}
	.hidden {
	    visibility: hidden;
	}

	</style>
</head>
<body style="height:100%">
  <div id="modalShow" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title">Message</h5>
        </div>
        <div class="modal-body">
          <div id="showText" class="modal-body" style="text-align:center;"></div>
        </div>
      </div>
    </div>
  </div>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">COMSW 4111</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li id="overview_nav" class="active"><a href="#">Overview<span class="sr-only">(current)</span></a></li>
          <li id="file_nav"><a href="#">Files</a></li>
	        <li id="assignment_nav"><a href="#">Assignments</a></li>
	        <li id="announcement_nav"><a href="#">Announcements</a></li>
	        <li id="qa_nav"><a href="#">Q & A</a></li>
	      </ul>
	      
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="{{url_for('home_s')}}">Back to Home</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

  <div id="overview_panel" style="margin-left: 30%;margin-right: 30%">
    <div class="list-group">
        <div class="list-group-item">
          <h4 class="list-group-item-heading">Course ID</h4>
          <p class="list-group-item-text">{{Courses[0].id}}</p>
        </div>
        <div class="list-group-item">
          <h4 class="list-group-item-heading">Session</h4>
          <p class="list-group-item-text">{{Courses[0].session}}</p>
        </div>
        <div class="list-group-item">
          <h4 class="list-group-item-heading">Course Name</h4>
          <p class="list-group-item-text">{{Courses[0].name}}</p>
        </div>
        <div class="list-group-item">
          <h4 class="list-group-item-heading">Instructor</h4>
          <p class="list-group-item-text">{{Courses[0].inst}}</p>
        </div>
        <div class="list-group-item">
          <h4 class="list-group-item-heading">Credit</h4>
          <p class="list-group-item-text">{{Courses[0].credit}}</p>
        </div>
        <div class="list-group-item">
          <h4 class="list-group-item-heading">Semester</h4>
          <p class="list-group-item-text">{{Courses[0].semester}} {{Courses[0].year}}</p>
        </div>
        <div class="list-group-item">
          <h4 class="list-group-item-heading">Time</h4>
          <p class="list-group-item-text">{{Courses[0].time}}</p>
        </div>
        <div class="list-group-item">
          <h4 class="list-group-item-heading">Location</h4>
          <p class="list-group-item-text">{{Courses[0].location}}</p>
        </div>
        <div class="list-group-item">
          <h4 class="list-group-item-heading">Syllabus</h4>
          <p class="list-group-item-text">{{Courses[0].syllabus}}</p>
        </div>
    </div>
  </div>

	<div id="file_panel" style="margin-left: 30%;margin-right: 30%">
		<ul class="list-group">
			{% for f in File %}
  			<li class="list-group-item">
  				<a href="{{ url_for('static', filename=f.content) }}">
  					{{f.name}}
  				</a>
  			</li>
			{% endfor %}
		</ul>
	</div>

	<div id="assignment_panel" style="margin-left: 30%;margin-right: 30%">
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			{% for a in Assigns %}
  			<div class="panel panel-default">
    			<div class="panel-heading" role="tab" id="{{a.id}}">
      				<h4 class="panel-title">
        				<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          				{{a.title}}
        				</a><span class="badge" style="float:right">Due: {{a.due}}</span>
      				</h4>
    			</div>
    			<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="{{a.id}}">
      				<div class="panel-body">
        				<div>Description: {{a.des}}</div>
        				<div>Points: {{a.points}}</div>
        				<div>Post time: {{a.time}}</div>
			                <div>Attachment: <a href="{{ url_for('static', filename=a.file) }}">{{a.file}}</a></div>
      				</div>
    			</div>
  			</div>
			{% endfor %}
	  	</div>
	</div>

	<div id="announcement_panel" style="margin-left: 30%;margin-right: 30%">
		<div class="panel-group">
  			
			{% for a in Anns %}
			<div class="panel panel-default">
    			<div class="panel-heading" role="tab">
      				<h4 class="panel-title">
      					{{a.title}}
      					<span class="badge" style="float:right">{{a.time}}</span>
      				</h4>
    			</div>
      			<div class="panel-body">
        				{{a.des}}
      			</div>			
			</div>
			{% endfor %}

    		</div>
	</div>

	<div id="qa_panel" style="margin-left: 30%;margin-right: 30%">
    <form method="POST" action="{{ url_for('ask',uid = uid,oid=Courses[0].oid )}}">
      <div class="form-group">
         <label>Question title:</label>
         <input type="text" name=title class="form-control">
      </div>
      <div class="form-group">
         <label>Question description:</label>
         <textarea class="form-control" name=des rows="3"></textarea>
      </div>
      <button id="qa_ask" type="submit" class="btn btn-primary">Ask</button>
    </form>
    <h2>Previous questions</h2>
		<div class="panel-group">

			{% for q in Ques %}
  			<div class="panel panel-default">
    			<div class="panel-heading" role="tab">
      				<h4 class="list-group-item-heading">
      					{{q.title}}
      					<span class="badge" style="float:right">{{q.time}}</span>
      				</h4>
      				<p class="list-group-item-text">{{q.des}}</p>
      				<small>Asked by:</small>
      				<small>{{q.name}}</small>
    			</div>
      			<div class="panel-body">
				{% for a in Ans %}
				{% if q.id == a.id %}
      				<div style="border-bottom: 1px solid #ddd;">
      					<div>
      						{{a.content}}
      					</div>
      					<div>
      						<small>Answered by: {{a.name}}  at {{a.time}}</small>
      					</div>
      				</div>
				{% endif %}
				{% endfor %}
      			</div>
  			</div>
			{% endfor %}

    	</div>
	</div>
	
	
	<script type="text/javascript" src="/static/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/Course.js"></script>
</body>
</html>
