{% extends "layout.html" %}
{% block body %}
Student Homepage
<form action="/class_s">
<p><input type="submit" value="Classes"></p>
</form>
<form action="/files_s">
<p><input type="submit" value="Files"></p>
</form>
<form action="/ann_s">
<p><input type="submit" value="Announcements"></p>
</form>
<form action="/ass_s">
<p><input type="submit" value="Assignments"></p>
</form>
<form action="/ques_s">
<p><input type="submit" value="Questions"></p>
</form>
<form action="/logout">
<p><input type="submit" value="Logout"></p>
</form>
{% endblock %}
