{% extends "layout.html" %}
{% block body %}
Instructor Homepage
<form action="/class_i">
<p><input type="submit" value="Classes"></p>
</form>
<form action="/files_i">
<p><input type="submit" value="Files"></p>
</form>
<form action="/ann_i">
<p><input type="submit" value="Announcements"></p>
</form>
<form action="/ass_i">
<p><input type="submit" value="Assignments"></p>
</form>
<form action="/ques_i">
<p><input type="submit" value="Questions"></p>
</form>
<form action="/logout">
<p><input type="submit" value="Logout"></p>
</form>
{% endblock %}
