<html style="height: 100%">
<head>
	<meta charset="UTF-8">
	<title>Student</title>
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
	<style type="text/css">
	a:hover{
		cursor: pointer;
	}
	</style>
</head>
<body style="height:100%">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">Courseworks</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul id="myTab" class="nav navbar-nav">
	        <li id="course_nav" class="active"><a href="#course_panel" data-toggle="tab">Courses <span class="sr-only">(current)</span></a></li>
	        <li id="assignment_nav"><a href="#assignment_panel" data-toggle="tab">Coming Dues</a></li>
	        <li id="qa_nav"><a href="#qa_panel" data-toggle="tab">My Questions</a></li>
	        <li id="account_nav"><a href="#account_panel" data-toggle="tab">Account</a></li>
	      </ul>
	      
	      <ul class="nav navbar-nav navbar-right">
	        <li id="logout"><a>Logout</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<div id="myTabContent" class="tab-content">
		<div id="course_panel" class="tab-pane fade in active" style="margin-left: 10%; margin-right: 10%;">
			{% for c in Courses %}
				<div class="panel panel-default" style="width:30%;float: left; margin-left: 10%;margin-top: 5%">
					<div class="panel-body">
					    <a class="course_name" href="{{ url_for('get_course',cid =c.id,csession=c.session,cyear=c.year,cseason=c.season,uid=Userinfo[0].id)}}">{{c.id}} (Section: {{c.session}})</a>
					</div>
	  				<div class="panel-footer">
	  					<div>{{c.name}}</div>
	  					<div>{{c.season}} {{c.year}}</div>
	  					<div>{{c.inst}}</div>
	  				</div>
				</div>
			{% endfor %}
		</div>

		<div id="assignment_panel" class="tab-pane fade" style="width:40%;margin-left: 30%;">
			{% for c in Courses %}
			<div style="margin-top: 2%">
				<div style="margin-bottom: 2%">{{c.id}}  {{c.name}}  {{c.session}}</div>
				<div class="panel-group">
				{% for a in Assigns %}
				{% if a.id == c.id and a.session == c.session %}
				  	<div class="panel panel-default">
		    			<div class="panel-heading">
		      				<h4 class="panel-title">
		          				{{a.title}}
		        				<span class="badge" style="float:right">Due: {{a.due}}</span>
		      				</h4>
		    			</div>
		      			<div class="panel-body">
		        			<div>Description: {{a.des}}</div>
		        			<div>Points: {{a.points}}</div>
		        			<div>Post time: {{a.time}}</div>
		                	<div>Attachment: <a href="{{ url_for('static', filename=a.file) }}">{{a.file}}</a></div>
		    			</div>
	  				</div>
				{% endif %}
				{% endfor %}
				</div>	
			</div>
	                {% endfor %}
		</div>

		<div id="qa_panel" class="tab-pane fade panel-group" style="width:40%;margin-left: 30%;">

			{% for q in Ques %}
	  		<div class="panel panel-default" style="margin-top: 3%">
	    		<div class="panel-heading" role="tab">
	      			<h4 class="list-group-item-heading">
	      				{{q.title}}
	      				<span class="badge" style="float:right">{{q.time}}</span>
	      			</h4>
	      			<p class="list-group-item-text">{{q.des}}</p>
	      			<small>Asked by:</small>
	      			<small>{{q.name}}</small>
	    		</div>
	      		<div class="panel-body">
			{% for a in Ans %}
				{% if q.id == a.id %}
	      			<div style="border-bottom: 1px solid #ddd;">
	      				<div>
	      					{{a.content}}
	      				</div>
	      				<div>
	      					<small>Answered by: {{a.name}}  at {{a.time}}</small>
	      				</div>
	      			</div>
				{% endif %}
			{% endfor %}
	      		</div>
	  		</div>
			{% endfor %}

	  	</div>

		<div id="account_panel" class="tab-pane fade" style="margin-left: 30%; margin-right: 30%;">
			<div class="list-group">
	  			<div class="list-group-item">
	    			<h4 class="list-group-item-heading">UNI</h4>
	    			<p class="list-group-item-text">{{Userinfo[0].id}}</p>
	  			</div>
	  			<div class="list-group-item">
	    			<h4 class="list-group-item-heading">Name</h4>
	    			<p class="list-group-item-text">{{Userinfo[0].name}}</p>
	  			</div>
	  			<div class="list-group-item">
	    			<h4 class="list-group-item-heading">Gender</h4>
	    			<p class="list-group-item-text">{{Userinfo[0].gender}}</p>
	  			</div>
	  			<div class="list-group-item">
	    			<h4 class="list-group-item-heading">Department</h4>
	    			<p class="list-group-item-text">{{Userinfo[0].dep}}</p>
	  			</div>
	  			<div class="list-group-item">
	    			<h4 class="list-group-item-heading">Enroll Date</h4>
	    			<p class="list-group-item-text">{{Userinfo[0].enroll}}</p>
	  			</div>
	  			<div class="list-group-item">
	    			<h4 class="list-group-item-heading">Email</h4>
	    			<p class="list-group-item-text">{{Userinfo[0].email}}</p>
	  			</div>
	  			<div class="list-group-item">
	    			<h4 class="list-group-item-heading">Contact Phone</h4>
	    			<p class="list-group-item-text">{{Userinfo[0].phone}}</p>
	  			</div>
			</div>
		</div>
	
	</div>
	
	<script type="text/javascript" src="../static/js/jquery.min.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../static/js/Student.js"></script>
</body>
</html>
