<html style="height: 100%">
<head>
	<meta charset="UTF-8">
	<title>Student</title>
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
	<style type="text/css">
	a:hover{
		cursor: pointer;
	}
	</style>
</head>
<body style="height:100%">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">Courseworks</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li id="course_nav" class="active"><a href="#">Courses <span class="sr-only">(current)</span></a></li>
	        <li id="file_nav"><a href="#">Files</a></li>
	        <li id="assignment_nav"><a href="#">Assignments</a></li>
	        <li id="announcement_nav"><a href="#">Announcements</a></li>
	        <li id="qa_nav"><a href="#">Q & A</a></li>
	      </ul>
	      
	      <ul class="nav navbar-nav navbar-right">
	        <li id="account_nav"><a href="#">Account</a></li>
	        <li id="logout"><a>Logout</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<div id="course_panel" style="margin-left: 10%; margin-right: 10%;">
		<div class="panel panel-default" style="width:30%;float: left; margin-left: 10%;margin-top: 5%">
			<div class="panel-body">
			    <a class="course_name" href="course.html">COMSW 4111 (Section: 001)</a>
			</div>
  			<div class="panel-footer">
  				<div>Introduction to Databases</div>
  				<div>Fall 2016</div>
  				<div>Eugene Wu</div>
  			</div>
		</div>
		<div class="panel panel-default" style="width:30%;float: left;margin-left: 10%;margin-top: 5%">
			<div class="panel-body">
			    COMSW 4771 (Section: 001)
			</div>
  			<div class="panel-footer">
  				<div>Machine Learning</div>
  				<div>Fall 2016</div>
  				<div>Daniel Hsu</div>
  			</div>
		</div>
		<div class="panel panel-default" style="width:30%;float: left;margin-left: 10%;margin-top: 5%">
			<div class="panel-body">
			    CSORW 4321 (Section: 001)
			</div>
  			<div class="panel-footer">
  				<div>Analysis of Algorithms</div>
  				<div>Fall 2016</div>
  				<div>Mihalis Yannakakis</div>
  			</div>
		</div>
		<div class="panel panel-default" style="width:30%;float: left;margin-left: 10%;margin-top: 5%">
			<div class="panel-body">
			    COMSE 6998 (Section: 005)
			</div>
  			<div class="panel-footer">
  				<div>Cloud Computing & Big Data</div>
  				<div>Fall 2016</div>
  				<div>Sambit Sahu</div>
  			</div>
		</div>
	</div>

	<div id="file_panel" style="margin-left: 30%; margin-right: 30%;">
		<div>
			<h4>COMSW 4111 Introduction to Databases</h4>
			<ul class="list-group">
	  			<li class="list-group-item">
	  				<a>
	  					lec17
	  				</a>
	  			</li>
	  			<li class="list-group-item">
	  				<a>
	  					lec16
	  				</a>
	  			</li>
	  			<li class="list-group-item">
	  				<a>
	  					lec15
	  				</a>
	  			</li>
			</ul>
		</div>
	</div>

	<div id="assignment_panel">
		<div style="width:40%;margin-left: 30%;margin-top: 2%">
			<div style="margin-bottom: 2%">COMSW 4111  Introduction to Databases</div>
			<ul class="list-group">
			  	<li class="list-group-item"><span class="badge">Due: 2016/11/20</span>
    			HW3
  				</li>
  				<li class="list-group-item"><span class="badge">Due: 2016/11/20</span>
    			HW2
  				</li>
  				<li class="list-group-item"><span class="badge">Due: 2016/11/20</span>
    			HW1
  				</li>
			</ul>	
		</div>

		<div style="width:40%;margin-left: 30%;margin-top: 2%">
			<div style="margin-bottom: 2%">COMSW 4771  Machine Learning</div>
			<ul class="list-group">
			  	<li class="list-group-item"><span class="badge">Due: 2016/11/20</span>
    			HW3
  				</li>
  				<li class="list-group-item"><span class="badge">Due: 2016/11/20</span>
    			HW2
  				</li>
  				<li class="list-group-item"><span class="badge">Due: 2016/11/20</span>
    			HW1
  				</li>
			</ul>	
		</div>
	</div>

	<div id="announcement_panel">
		ann
	</div>

	<div id="qa_panel">
		qa
	</div>

	<div id="account_panel" style="margin-left: 30%; margin-right: 30%;">
		<div class="list-group">
  			<div class="list-group-item">
    			<h4 class="list-group-item-heading">UNI</h4>
    			<p class="list-group-item-text">fp2360</p>
  			</div>
  			<div class="list-group-item">
    			<h4 class="list-group-item-heading">Name</h4>
    			<p class="list-group-item-text">Fei Peng</p>
  			</div>
  			<div class="list-group-item">
    			<h4 class="list-group-item-heading">Gender</h4>
    			<p class="list-group-item-text">Male</p>
  			</div>
  			<div class="list-group-item">
    			<h4 class="list-group-item-heading">Department</h4>
    			<p class="list-group-item-text">Computer Science</p>
  			</div>
  			<div class="list-group-item">
    			<h4 class="list-group-item-heading">Enroll Date</h4>
    			<p class="list-group-item-text">2016-09-01</p>
  			</div>
  			<div class="list-group-item">
    			<h4 class="list-group-item-heading">Email</h4>
    			<p class="list-group-item-text">fp2360@columbia.edu</p>
  			</div>
  			<div class="list-group-item">
    			<h4 class="list-group-item-heading">Contact Phone</h4>
    			<p class="list-group-item-text">9172090367</p>
  			</div>
		</div>
	</div>
	
	
	<script type="text/javascript" src="../static/js/jquery.min.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../static/js/Student.js"></script>
</body>
</html>
