<html style="height: 100%">
<head>
	<meta charset="UTF-8">
	<title>Student</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<style type="text/css">
	a:hover{
		cursor: pointer;
	}
	</style>
</head>
<body style="height:100%">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">Courseworks</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="#">Courses <span class="sr-only">(current)</span></a></li>
	        <li><a href="#">Files</a></li>
	        <li><a href="#">Assignments</a></li>
	        <li><a href="#">Announcements</a></li>
	        <li><a href="#">Q & A</a></li>
	      </ul>
	      
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#">Account</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<div style="margin-left: 10%; margin-right: 10%;">
		<div class="panel panel-default" style="width:30%;float: left; margin-left: 10%;margin-top: 5%">
			<div class="panel-body">
			    COMSW 4111 (Section: 001)
			</div>
  			<div class="panel-footer">
  				<div>Introduction to Databases</div>
  				<div>Fall 2016</div>
  				<div>Eugene Wu</div>
  			</div>
		</div>
		<div class="panel panel-default" style="width:30%;float: left;margin-left: 10%;margin-top: 5%">
			<div class="panel-body">
			    COMSW 4771 (Section: 001)
			</div>
  			<div class="panel-footer">
  				<div>Machine Learning</div>
  				<div>Fall 2016</div>
  				<div>Daniel Hsu</div>
  			</div>
		</div>
		<div class="panel panel-default" style="width:30%;float: left;margin-left: 10%;margin-top: 5%">
			<div class="panel-body">
			    CSORW 4321 (Section: 001)
			</div>
  			<div class="panel-footer">
  				<div>Analysis of Algorithms</div>
  				<div>Fall 2016</div>
  				<div>Mihalis Yannakakis</div>
  			</div>
		</div>
		<div class="panel panel-default" style="width:30%;float: left;margin-left: 10%;margin-top: 5%">
			<div class="panel-body">
			    COMSE 6998 (Section: 005)
			</div>
  			<div class="panel-footer">
  				<div>Cloud Computing & Big Data</div>
  				<div>Fall 2016</div>
  				<div>Sambit Sahu</div>
  			</div>
		</div>
	</div>
	
	
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>